# MCU Scripts

## Configuration

In [1]:
%load_ext autotime

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import os

In [3]:
import re

## Analysis

### About the Data

#### Processed Scripts

In [4]:
lines = pd.read_csv('../clean_data/mcu_data_clean_all.csv', index_col=0).reset_index(drop=True)[['character', 'line', 'movie', 'year']]
print('Entries: ', len(lines))
lines.head()

Entries:  18387

,character,line,movie,year
0,TONY STARK,"Oh, I get it. You guys aren’t allowed to talk...",Iron Man,2008
1,IRON MAN JIMMY,No. We’re allowed to talk.,Iron Man,2008
2,TONY STARK,Oh. I see. So it’s personal.,Iron Man,2008
3,RAMIREZ,I think they’re intimidated.,Iron Man,2008
4,TONY STARK,"Good God, you’re a woman. I, honestly, I could...",Iron Man,2008

In [5]:
processed_movies = lines.groupby(['movie', 'year']).head(1)[['movie', 'year']].sort_values(['movie']).reset_index(drop=True)
processed_movies

                                  movie  year
0                               Ant-Man  2015
1                  Ant-Man and the Wasp  2018
2               Avengers: Age of Ultron  2015
3                     Avengers: Endgame  2019
4                Avengers: Infinity War  2018
5                         Black Panther  2018
6            Captain America: Civil War  2016
7    Captain America: The First Avenger  2011
8   Captain America: The Winter Soldier  2014
9                        Captain Marvel  2019
10                       Doctor Strange  2016
11              Guardians of the Galaxy  2014
12       Guardians of the Galaxy Vol. 2  2017
13                             Iron Man  2008
14                           Iron Man 2  2010
15                           Iron Man 3  2013
16            Spider-Man: Far From Home  2019
17               Spider-Man: Homecoming  2017
18                         The Avengers  2012
19                                 Thor  2011
20                       Thor: Ragnarok  2017
21                 Thor: The Dark World  2013

#### Raw Scripts

In [6]:
df = pd.read_csv('../raw_data/mcu_scipts.csv', index_col=0).merge(processed_movies, right_on=['movie'], left_on=['title'], how='left')
df['script_length'] = df['script'].apply(len)
print('Entries: ', len(df))
df.head(23)

Entries:  23

,title,script,movie,year,script_length
0,Ant-Man,Previous transcript:\n Next transcript:\n\n\n ...,Ant-Man,2015.0,82517
1,Ant-Man and the Wasp,This transcript is not finished!This page does...,Ant-Man and the Wasp,2018.0,67957
2,The Avengers,This transcript isn't tidy!This page's transcr...,The Avengers,2012.0,163543
3,Avengers: Age of Ultron,Previous transcript:\n Next transcript:\n\n\n ...,Avengers: Age of Ultron,2015.0,91399
4,Avengers: Endgame,Previous transcript:\n Next transcript:\n\n\n ...,Avengers: Endgame,2019.0,138200
5,Avengers: Infinity War,Previous transcript:\n Next transcript:\n\n\n ...,Avengers: Infinity War,2018.0,141191
6,Black Panther,This transcript isn't tidy!This page's transcr...,Black Panther,2018.0,201332
7,Captain America: Civil War,Previous transcript:\n Next transcript:\n\n\n ...,Captain America: Civil War,2016.0,127046
8,Captain America: The First Avenger,Previous transcript:\n Next transcript:\n\n\n ...,Captain America: The First Avenger,2011.0,71770
9,Captain America: The Winter Soldier,Previous transcript:\n Next transcript:\n\n\n ...,Captain America: The Winter Soldier,2014.0,98173
10,Captain Marvel,Previous transcript:\n Next transcript:\n\n\n ...,Captain Marvel,2019.0,94229
11,Doctor Strange,This transcript isn't tidy!This page's transcr...,Doctor Strange,2016.0,54685
12,Guardians of the Galaxy,Previous transcript:\n Next transcript:\n\n\n ...,Guardians of the Galaxy,2014.0,67924
13,Guardians of the Galaxy Vol. 2,This transcript isn't tidy!This page's transcr...,Guardians of the Galaxy Vol. 2,2017.0,63728
14,Spider-Man: Homecoming,Previous transcript:\n Next transcript:\n\n\n ...,Spider-Man: Homecoming,2017.0,162553
15,Iron Man,This transcript isn't tidy!This page's transcr...,Iron Man,2008.0,76243
16,Iron Man 2,Previous transcript:\n Next transcript:\n\n\n ...,Iron Man 2,2010.0,86198
17,Iron Man 3,Previous transcript:\n Next transcript:\n\n\n ...,Iron Man 3,2013.0,97630
18,Spider-Man: Far From Home,This transcript is not finished!This page does...,Spider-Man: Far From Home,2019.0,103341
19,The Incredible Hulk,Previous transcript:\n Next transcript:\n\n\n ...,NaN,NaN,29346
20,Thor,Previous transcript:\n Next transcript:\n\n\n ...,Thor,2011.0,242605
21,Thor: Ragnarok,Previous transcript:\n Next transcript:\n\n\n ...,Thor: Ragnarok,2017.0,202999
22,Thor: The Dark World,Previous transcript:\n Next transcript:\n\n\n ...,Thor: The Dark World,2013.0,77065

In [7]:
movie_idx=18
script = df.script.values[movie_idx]
movie_year = 2019
movie_title = df.title.values[movie_idx]
print(movie_title, movie_year)
print(script[:100])

Spider-Man: Far From Home 2019
This transcript is not finished!This page does not have the entire transcript.It is recommended to a

# Cleaning Up Script

## Find Actual Start of Script

In [8]:
start_script = 280
script_clean = script[start_script:]
print(script_clean[:300])
print(script_clean[-300:])

[The Columbia Pictures logo plays normally. At the end, the Torch Lady fades into a statue in Ixtenco, Mexico.]
[A car drives up to a destroyed village in that place. Maria Hill and Nick Fury get out]
Maria Hill: Nick, this was a tragedy, but it's not why we're here. What, are we fighting the weathe
s his hands) Everybody, back to work! Who's got my shoes?
[The last message shows a "dedicated to" message for Spider-Man's creators, Stan Lee and Steve Ditko. After that, the movie ends]
[Closing title 1: Sony]
[Closing title 2: Columbia Pictures A Columbia Pictures Release A Sony Company]
The End.

## Find Characters

In [9]:
characters = np.unique(re.findall(string=script_clean, pattern='\n((?:[A-Z]+[a-z]*\.? ?)+):'), return_counts=True)
characters = pd.DataFrame(zip(characters[0], characters[1]), columns=['character', 'line_count'])
print(len(characters))
characters.sort_values(['line_count'], ascending=False)

51

               character  line_count
36          Peter Parker         295
38          Quentin Beck         132
32             Ned Leeds          64
33             Nick Fury          54
20           Happy Hogan          47
24                    MJ          42
29        Mr. Harrington          35
13            E.D.I.T.H.          29
7            Betty Brant          26
3               Aunt May          23
26            Maria Hill          19
8             Brad Davis          19
28              Mr. Dell          17
15        Flash Thompson          17
49  William Ginther Riva          12
23         Jason Ionello           7
30          Mr. Harrison           6
42               Student           5
44                 Talos           5
48               William           5
14          Female Agent           4
10         Cheese Farmer           4
22                Janice           4
18              Guterman           3
50                 Woman           3
40            Shopkeeper           2
41                 Soren           2
35           Pat Kiernan           2
45            Tony Stark           2
31              Mysterio           2
25                   Man           2
11             Classmate           2
19                 Happy           2
17                 Guard           2
16      Flight Attendant           2
12               Dimitri           2
9             Bus Driver           2
6           Betty Brandt           1
2              Attendant           1
4                   Beck           1
47                 Voice           1
46              Victoria           1
5                  Betty           1
27         Me Harrington           1
43              Students           1
1              All Three           1
39                  Sean           1
37                 Pilot           1
34         Obediah Stane           1
21      J. Jonah Jameson           1
0                  Agent           1

## Remove Narration

In [10]:
script_lines_only = re.sub(string=script_clean, pattern='(\[.*\])\n?', repl='')
script_lines_only = re.sub(string=script_lines_only, pattern='\n(\[.*\]?)\n', repl='\n')
script_lines_only = re.sub(string=script_lines_only, pattern='\n(\(.*\)?)\n', repl='\n')
script_lines_only = re.sub(string=script_lines_only, pattern='\xa0', repl=' ')

## Charactater Line Extractions

In [11]:
character_lines = re.findall(string=script_lines_only, pattern='\n((?:[A-Z]+[a-z]*[\-\.]? ?)+):\s*(.*)')
character_lines = pd.DataFrame(character_lines, columns=['character', 'line'])
character_lines['character'] = character_lines['character'].apply(str.upper)
character_lines['line'] = [x.rstrip().lstrip() for x in character_lines['line']]
# print(character_lines['character'].value_counts())
character_lines.head()

       character                                               line
0      NICK FURY                 Locals say the cyclone had a face.
1     MARIA HILL  People say things when they're under stress. O...
2   QUENTIN BECK                                       Who are you?
3   QUENTIN BECK  You don't want any part of this. Betty Brant: ...
4  JASON IONELLO  Thanks to Kenneth Lim and Vihaan Ramamurthy fo...

## Save Lines as CSV

In [12]:
character_lines.to_csv('../clean_data/spiderman_ffh.csv', index=False)